<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <mate charset="utf-8">
    <title  ng-bind-template="Test: {{query}} order by {{orderProp}}">Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/animations.css">
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/animations.js"></script>
  </head>
  <body>
    <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div>

  </body>
  </html>
